[Desktop Entry]
Version=1.1
Name=CYBINT Linux Home Page
Comment=The official web site of the CYBINT Linux Project
Icon=emblem-cybint
Type=Link
URL=https://cybint-linux.com

