[Desktop Entry]
Version=1.1
Name=CYBINT Linux Reference Manual
Comment=An introduction and reference manual for CYBINT Linux
Icon=emblem-debian
Type=Link
URL=https://docs.cybint-linux.com
