Package: desktop-base
Version: 1.0~cybint
Architecture: all
Maintainer: CYBINT Coders <coder@cybint-linux.com>
Installed-Size: 1350
Depends: librsvg2-common, fonts-quicksand
Recommends: plymouth-label
Suggests: gnome | kde-standard | xfce4 | wmaker
Section: x11
Priority: optional
Homepage: https://github.com/cybint-linux/desktop-base
Description: common files for the Debian Desktop
 This package contains various miscellaneous files which are used by
 CYBINT Desktop installations.  Currently, it provides some
 CYBINT-related artwork and themes, .desktop files containing links to
 CYBINT related material (suitable for placement on a user's desktop),
 and other common files between the available desktop environments
 such as GNOME and KDE.
