Source: desktop-base
Section: x11
Priority: optional
Maintainer: CYBINT Coders <coder@cybint-linux.com>
Uploaders: CYBINT Coders <coder@cybint-linux.com>
Build-Depends: debhelper (>= 13),
               librsvg2-bin,
               optipng,
# For the number in debian-logo-text
               fonts-quicksand,
Rules-Requires-Root: no
Standards-Version: 4.5.0
Homepage: https://github.com/cybint-linux/desktop-base
Vcs-Browser: https://github.com/cybint-linux/desktop-base
Vcs-Git: https://github.com/cybint-linux/desktop-base.git

Package: desktop-base
Architecture: all
Depends: librsvg2-common,
# For the login background with logo
         fonts-quicksand,
Recommends: plymouth-label
Suggests: gnome | kde-standard | xfce4 | wmaker
Description: common files for the Debian Desktop
 This package contains various miscellaneous files which are used by
 CYBINT Desktop installations.  Currently, it provides some
 CYBINT-related artwork and themes, .desktop files containing links to
 CYBINT related material (suitable for placement on a user's desktop),
 and other common files between the available desktop environments
 such as GNOME and KDE.
