[Desktop Entry]
Name=sua-sponte
X-KDE-PluginInfo-Name=SuaSponte
X-KDE-PluginInfo-Author=CYBINT Devs
X-KDE-PluginInfo-Email=coder@cybint-linux.com
X-KDE-PluginInfo-License=GPLv2+
